<div class="container">
  <ng-container *ngIf="students$ | async as students; else showMessage">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student ID</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let student of students; index as i">
        <tr>
          <th scope="row">{{i + 1}}</th>
          <a [routerLink]="['/students', student.studentId]" routerLinkActive="active" [state]="student">
            <td>{{student.studentId}}</td>
          </a>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="removeStudent(student)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #showMessage>
    There are no students currently. Create a record by clicking register button.
  </ng-template>

  <button type="button" class="btn btn-primary" (click)="registerStudent()">Register</button>
</div>